.homnay{
	color: #333333;
	text-align: center;
	
	border:1px solid black;
}



.row{
	margin-top:10px;
	margin-bottom:10px;
	
	.xxx{
	margin-bottom:10px;
		.kinang{
				text-align: center;
				width:80%;
				height:100px;
				background:red;
				border-radius:20px;
			}
	}
}			